<div class="jumbotron">
    <h1>Appscore Ancestry</h1>
</div>

<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-4">
            <input type="text" class="form-control" id="nameKey">
        </div>
                <input type="button" class="btn btn-default" id="searchBtn" value="Search" onclick="simpleSearch()">
        </div>

        <div class="form-group">
            <label class="col-sm-1">Gender:</label>
            <div class="col-sm-1">
                <label><input type="checkbox" id="maleChkBx"> Male</label>
            </div>
            <div class="col-sm-1">
                <label><input type="checkbox" id="femaleChkBx"> Female</label>
            </div>
            <div class="col-sm-6">
                <input type="button" class="btn-link" value="Advanced Search" onclick="advancedSearch()" />
            </div>
        </div>
</form>

<div id="result_section" hidden="hidden">
<h2>Results:</h2>
<table class="table table-striped">
    <thead>
        <tr style="background-color: olivedrab; color:white"><th>ID</th><th>NAME</th><th>Gender</th><th>BIRTHPLACE</th></tr>
    </thead>
    <tbody id="result"></tbody>
</table>
</div>

@section Scripts {
    <script>
            function simpleSearch() {
                var nameKey = $("#nameKey").val();
                var genderMale = $("#maleChkBx").is(":checked");
                var genderFemale = $("#femaleChkBx").is(":checked");
                $.getJSON("api/ancestry/search",
                    { key: nameKey, male: genderMale, female: genderFemale },
                    function (data, status) {
                        $("#result").empty(); // clear the table body

                        $.each(data, function (key, val) {
                            var row = '<td>' + val.id + '</td><td>' + val.name + '</td><td>' + val.gender + '</td><td>' + val.birthplace + '</td>';
                            $('<tr/>', { html: row })  // Append the name.
                                .appendTo($('#result'));
                        });
                        alert("Data: " + data + "\nStatus: " + status);
                });
                $("#result_section").show();
            }

            function advancedSearch() {
                location.href = "home/advancedSearch";
            }
        
    </script>
}
